  <style>
  table{
    border-spacing:0;
  }
  th,td{
    padding:5px 10px;
    text-align:center;
  }

  p{
    color:#333;
  }
  .tips{
    margin-top:30px;
    color:#aaaaaa;
  }
</style>
<table border="1">
    <tr>
      <%for(const i in header) {%>
        <%if (header[i] === '代扣费用') {%>
          <th colspan="5"><%- header[i] %></th>
        <%} else {%>
          <th rowspan="2"><%- header[i] %></th>
        <%}%>
      <%}%>
    </tr>

    <tr>
      <%for(const i in header1) {%>
        <th><%- header1[i] %></th>
      <%}%>
    </tr>

    <tr>
      <%for(const i in data) {%>
      <td><%- data[i] %></td>
      <%}%>
    </tr>
</table>

<%if(remark){%>
  <p><%- remark %></p>
<%}%>

<p class="tips">
The information in this email and any attachment hereto is CONFIDENTIAL and may be privileged. If you are NOT the intended recipient, please delete and destroy this email and all the attachments and notify the sender immediately. Any dissemination, distribution or copying of this email, any attachments hereto, or information therein, is illegal and strictly prohibited.<br><br>
本邮件及附件所包含的信息均是保密的，且可能是有专用权的。如果您不是发件人意图发送的收件人，请立即删除并销毁本邮件及其所有附件，并通知发件人。 传播、转发和复制此邮件、附件以及相关信息，均是被法律严格禁止的行为。
</p>

